:root {
  --Primary: #272829;
  --Secondary: #61677a;
  --Optional: #d8d9da;
  --LowColor: #fff6e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  /* background-image: url(../assets/img/naturealff.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  line-height: 1.3;
}

main > div > h1 {
  font-size: 3rem;
}
main > div > h2 {
  font-size: 1.5rem;
  font-weight: 100;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

.header {
  background-color: var(--Primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* box-shadow: 1px 1px 11px -1px rgba(100, 204, 197, 0.5) inset; */
  /* box-shadow: -1px 2px 26px 0px rgba(0, 0, 0, 0.5) inset; */
  border-bottom: 2px solid black;
  z-index: 100;
}

.logo {
  width: 60px;
  height: 40px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.nav {
  display: flex;
  gap: 1rem;
  height: 2.5rem;
  flex-wrap: nowrap;
}

header > nav > a {
  color: white;
  padding: 0.5rem 2rem;
  /* border: 1px solid var(--Optional); */
  /* border-radius: 24px; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

/* header > nav > p {
  display: none;
  background-color: white;
  color: black;
  width: 8rem;
  margin: 1rem auto 0 auto;
  padding: 1rem;
} */

header > nav > a:hover {
  color: black;
  background-color: rgba(255, 253, 253, 0.8);
  border-bottom: 1px solid#00aaff;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5rem auto 0 auto;
  width: 80%;
  height: max-content;
  /* background-color: rgba(218, 255, 251, 1); */
  background-color: var(--LowColor);
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.textfeature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

main .headline {
  text-align: center;
  display: flex;
  flex-direction: column;
}

main .headline h1 {
  color: var(--Primary);
  font-weight: 800;
  font-size: 3rem;
}

main .headline h2 {
  margin-top: 4rem;
  font-weight: 300;
  color: var(--Secondary);
}

.sliderku {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 90%;
}

.button {
  background-color: rgba(218, 255, 251, 0.4);
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  border-radius: 100%;
  border: none;
}

.button:hover {
  background-color: rgba(46, 46, 46, 0.4);
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.textreview {
  color: grey;
  width: 25rem;
  margin: 1rem;
}

.textreview .profileorang {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  margin-top: 1rem;
}
.textreview .profileorang h2 {
  font-size: 15px;
}

.textreview .profileorang p {
  font-size: 9px;
}

.textreview .profileorang .bgkosong {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: gray;
}

.forborder {
  margin: 1.5rem auto;
  width: 10rem;
  border: 2px solid #edf0f4;
}

.containermain {
  /* border: 1px solid black; */
  width: 100%;
}

.heroku {
  margin-top: 3rem;
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
  /* border: 1px solid black; */
}

.kananhero {
  flex: 1;
  padding: 2rem;
}

.kirihero {
  flex: 1;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  align-items: center;
}

.formcard {
  background-color: var(--Primary);
  padding: 3rem;
  width: 23rem;
  height: max-content;
  border-radius: 10px;
}

#error-msg {
  margin: 1rem;
  color: red;
}

.formcard h3 {
  margin-bottom: 1.5rem;
  color: var(--LowColor);
}

.formcard p {
  font-weight: 100;
  font-size: 12px;
  color: var(--Secondary);
  margin-bottom: 3rem;
}

label {
  display: block;
  font-size: medium;
  color: var(--Optional);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input {
  width: 15rem;
  height: 2.5rem;
  outline: 1px solid gray;
  padding: 0.5rem;
  font-size: large;
  border: none;
  border-radius: 10px;
  color: var(--Primary);
}

select {
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px;
  font-size: large;
  color: var(--Primary);
}

input:focus {
  outline: 2px solid #00aaff;
}

form > button {
  margin: 1rem auto 0 auto;
  display: block;
  width: 15rem;
  height: 2.5rem;
  background-color: var(--Optional);
  font-size: large;
  color: var(--Primary);
  border-radius: 10px;
  border: none;
  margin: 1rem 0 0 0;
}

.buttonsend:hover {
  background-color: var(--Secondary);
  color: black;
  cursor: pointer;
}

.buttonsend:active {
  background-color: wheat;
  color: black;
  cursor: pointer;
}

.benefit {
  padding: 2rem;
}

ul {
  list-style: circle;
}

.ourpackage {
  background-color: var(--Primary);
  color: var(--Optional);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 7rem;
  margin: auto;
  font-weight: bold;
  font-size: 1.5em;
}

.travelgo,
.closingcontainer,
.footercontainer {
  background-color: var(--LowColor);
  display: flex;
  justify-content: center;
  width: 80%;
  height: max-content;
  margin: auto;
  padding-top: 3rem;

  /* border: 3px solid red; */
}

.travelercardcontainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 3rem;

  /* border: 1px solid cadetblue; */
}

.cardtravel {
  position: relative;
  width: 300px;
  height: 150px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: start;
  /* box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); */
  padding-top: 1rem;
  /* background-image: url(../assets/img/bali.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.cardtravel:hover img {
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}

.cardtravel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
}

.bungkuslogo {
  position: relative;
  height: 100%;
  width: 40%;
  margin-right: 0.5rem;
  /* border: 1px solid red; */
  z-index: 2;
  /* border: 1px solid blue; */
}

.iconlogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--LowColor);
  background-image: url(../assets/img/iconmap.png);
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid red; */
  position: absolute;
  top: 2%;
  right: 0;
}

.cardtraveltext {
  /* border: 3px solid salmon; */
  position: relative;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  z-index: 2;
  /* border: 1px solid blue; */
}

.cardtraveltext h2 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--Optional);
}

.cardtraveltext p {
  line-height: 1.2;
  color: var(--LowColor);
}

.cardsection {
  display: flex;
  height: fit-content;
  gap: 2rem;
  /* border: 1px solid black; */
}

.forbordert {
  margin: 2.5rem auto 1rem auto;
  width: 10rem;
  border: 2px solid rgba(51, 51, 51, 0.325);
}

.closingcontainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: max-content;
  padding-top: 0;
  padding: 1rem 0;
}

.closingcontent {
  display: flex;
  width: 60%;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.closingcontent h2 {
  font-weight: bold;
  font-size: 2em;
}

.callbutton {
  border: none;
  background-color: var(--Primary);
  color: white;
  height: 3rem;
  width: 15rem;
  border-radius: 10px;
}

.callbutton:hover {
  cursor: pointer;
  background-color: var(--Optional);
  color: #001c30;
}

footer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LowColor);
  width: 80%;
  padding: 2rem;
}

.footcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.footerlink {
  display: flex;
  gap: 1rem;
}

.footerlink a {
  text-decoration: none;
  color: var(--Primary);
}

.footcontainer p {
  color: var(--Primary);
}

@media screen and (max-width: 996px) {
  .buttonsend {
    width: 80%;
  }

  .hamburger-menu button {
    background-color: var(--Primary);
    border: none;
    padding: 0.5rem;
  }

  .hamburger-menu button:hover {
    cursor: pointer;
    background-color: var(--Secondary);
    border-radius: 10px;
  }

  .nav {
    /* display: none; */
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: -100%;
    width: 60%;
    background-color: var(--Primary);
    z-index: 99;
    transition: left 0.3s ease;
  }

  .hamburger-menu {
    display: block;
  }

  .nav.open {
    display: flex;
    left: 0;
  }

  header > nav > a {
    width: 100%;
    text-align: center;
  }

  .forbordert {
    display: none;
  }

  .cardsection {
    flex-direction: column;
    /* border: 1px solid blue; */
  }

  /* .nav {
    flex-direction: column;
    gap: 1rem;
    height: auto;
  } */

  header > nav > a {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }

  main {
    width: 90%;
    margin: 3rem auto 0 auto;
    padding: 1rem;
  }

  .heroku {
    flex-direction: column;
  }

  main .headline h1 {
    font-size: 2.5rem;
  }

  main .headline h2 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .sliderku {
    width: 100%;
  }

  .textreview {
    width: 100%;
    margin: 1rem auto;
  }

  .textreview .profileorang h2 {
    font-size: 12px;
  }

  .textreview .profileorang p {
    font-size: 8px;
  }

  .textreview .profileorang .bgkosong {
    width: 20px;
    height: 20px;
  }

  .kananhero,
  .kirihero {
    padding: 1rem;
  }

  .kirihero {
    margin-top: 1rem;
  }

  .formcard {
    width: 100%;
  }

  label {
    font-size: 14px;
  }

  input,
  select,
  button {
    width: 80%;
  }

  .forbordert {
    width: 6rem;
  }

  .ourpackage {
    width: 90%;
  }

  .travelgo,
  .closingcontainer,
  .footercontainer {
    width: 90%;
    padding-top: 2rem;
  }

  .travelercardcontainer {
    flex-direction: column;
    gap: 1rem;
  }
  .cardsection {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bungkuslogo {
    display: none;
  }

  .cardtravel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bungkuslogo {
    width: 100%;
    margin-right: 0;
  }

  .iconlogo {
    top: 1%;
  }

  .cardtraveltext h2 {
    font-size: 2em;
  }

  .cardtraveltext p {
    font-size: 10px;
    padding-bottom: 1rem;
  }

  .closingcontent h2 {
    font-size: 1.5em;
  }

  .callbutton {
    height: 2.5rem;
    width: 12rem;
    font-size: 14px;
  }

  footer {
    width: 90%;
  }

  .footcontainer p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .buttonsend {
    width: 80%;
  }
  .logo {
    font-size: 20px;
  }

  header > nav > a {
    padding: 0.5rem 0.5rem;
  }

  main {
    width: 100%;
    margin: 3.5rem auto 0 auto;
  }

  main .headline h1 {
    font-size: 2rem;
  }

  main .headline h2 {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .sliderku {
    width: 100%;
  }

  .textreview {
    width: 100%;
    margin: 0.5rem auto;
  }

  .textreview .profileorang h2 {
    font-size: 10px;
  }

  .textreview .profileorang p {
    font-size: 7px;
  }

  .textreview .profileorang .bgkosong {
    width: 15px;
    height: 15px;
  }

  .kananhero,
  .kirihero {
    padding: 0.5rem;
  }

  .kirihero {
    margin-top: 0.5rem;
  }

  .formcard {
    width: 100%;
    padding: 1rem;
  }

  label {
    font-size: 12px;
  }

  input,
  select,
  button {
    width: 80%;
    font-size: 12px;
  }

  .forbordert {
    width: 5rem;
  }

  .ourpackage {
    width: 100%;
  }

  .travelgo,
  .closingcontainer,
  .footercontainer {
    width: 100%;
    padding-top: 1rem;
  }

  .travelercardcontainer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .cardtravel {
  }

  .bungkuslogo {
    width: 100%;
    margin-right: 0;
  }

  .iconlogo {
    top: 1%;
  }

  .cardtraveltext h2 {
    font-size: 2em;
  }

  .cardtraveltext p {
    font-size: 8px;
  }

  .closingcontent h2 {
    font-size: 1.2em;
  }

  .callbutton {
    height: 2rem;
    width: 10rem;
    font-size: 10px;
  }

  /* Footer */

  footer {
    width: 100%;
  }

  .footcontainer p {
    font-size: 12px;
  }
}
